@import 'tailwindcss';

.scrollbar-md {
  &::-webkit-scrollbar {
    width: 8px;
    cursor: default;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #DEDFE0;
  }
}

.scrollbar-lg {
  &::-webkit-scrollbar {
    width: 12px;
    cursor: default;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #DEDFE0;
  }
}
